.intro {
    display: flex;
}

.intro .intro-text {
    width: 40%;
    margin: 0 8% 0 0;
}

.intro .intro-text h3 {
    font-size: 44px;
    margin: 30% 6% 0 0;
    color: #56200F;
}

.intro .intro-text h2 {
    font-size: 70px;
    margin: 3% 6% 0 0;
    color: #A10001;
}

.intro .intro-text p {
    font-size: larger;
    margin: 8% 6% 0 0;
    line-height: 1.35;
}

.intro .intro-text button {
    display: block;
    font-size: 22px;
    margin: 6% 6% 0 0;
    background-color: white;
    padding: 15px 30px;
}

.intro img {
    width: 50%;
}
